@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #ffffff;
    
}


/* navbar starts */

.navbar{
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    height: 60px; /*0.09*/
    position: fixed;
    z-index: 10;
    width: 100%;
}

.navbar nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav li{
    list-style: none;
    background-color: ;
}

.navbar nav li a{
    text-decoration: none;
    color: #797979;
    font-weight: 200;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbar nav li a img{
    height: 1.5rem; /* 0.02*/
    width: 1.5rem;
    margin: 0 1rem;
    transition: 0.4s;
}

.navbar nav li a img:hover{
    opacity: 1;
}


.menuOpen a img{
    opacity: 0.3;
    height: 1.5rem; 
    width: 1.5rem;
    transition: 1s;
}

.menuOpen{
    border-right: 1px solid #e7e7e7;
}

.menuUserAvatar a img{
    height: 2rem;
    width: 2rem;
    opacity: 0.7;
}

.menuUserAvatar{
    border-left: 1px solid #e7e7e7;
}

.navLogo a{
    font-family: 'Poppins',sans-serif;
}

.navLogo a span{
    font-weight: 500;
    color: #585858;
}

/* navbar ends */


/* sideMenu starts */

.sideMenu{
    height: 100vh;
    width: 70%;
    background-color: ;
    position: fixed;
    z-index: 10;
    border-right: 1px solid #e9e9e9;
    background-color: #fff;
    margin-left: -70%;
    transition: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenu ul{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
}

.sideMenu ul li{
    list-style: none;
    background-color: ;
}

.sideMenu ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #333333;
    transition: 0.4s;
    opacity: 0.3;
    font-weight: 300;
}

.sideMenu ul li a:hover{
    opacity: 1;
    color: #4ec7a9;
}

.sideMenu ul li a img{
    height: 2rem;
    width: 2rem;
}

.sideMenu ul li a span{
    padding: 0 1.5rem;
}



/* sideMenu ends */

/* heroSection starts */

.heroSection{
    overflow: hidden;
    height: 667px; /* 100*/
    width: 100%;
    /* background: linear-gradient(to bottom right, #DF7784, #925D8C, #5D4C90); */
    /* background: linear-gradient(135deg, #CCE8F4,#9b53b6); */
    background: linear-gradient(135deg, #3BA19D, #4cb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.mainHeroSectionContainer{
    height: 90%;
    width: 50%;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroSectionTitle{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: #fff;
    font-weight: 600;
}

.heroSectionSubTitle{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: 200;
}

.mainSearchContainer{
    height: 6rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.3rem;
    margin: 1rem 0 0 0;
    box-shadow: 1rem 1rem 0px #00000012;
}




/* heroSection ends */



@media (max-width: 1280px){

    .navbar{
        background-color: #fff;
    }

    .menuOpen{
        border: none;
    }

    .menuUserAvatar{
        border: none;
    }

    .menuUserAvatar a img{
        height: 2rem;
        width: 2rem;
        opacity: 0.7;
    }

    .sideMenu ul{
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: left;
        flex-direction: column;
    }
    

    .sideMenu ul li a{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        color: #333333;
        transition: 0.4s;
        font-weight: 300;
        opacity: 0.3;
    }

    .sideMenu ul li a img{
        height: 1rem;
        width: 1rem;
    }

    .mainHeroSectionContainer{
        height: 90%;
        width: 90%;
        background-color: ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .heroSectionTitle{
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        color: #fff;
        font-weight: 600;
    }

    .heroSectionSubTitle{
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color: #fff;
        padding: 1rem 0;
        font-weight: 200;
    }

    .mainSearchContainer{
        height: 3rem;
        width: 100%;
        background-color: #fff;
        border-radius: 0.3rem;
        margin: 1rem 0 0 0;
        box-shadow: 1rem 1rem 0px #00000012;
    }
    
}

