@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    height: 200vh;
    background-color: #ffffff;
    overflow-x: hidden;
}



/* navbar starts */

.navbar{
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    height: 60px; /*0.09*/
    position: fixed;
    z-index: 10;
    width: 100%;
}

.navbar nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav li{
    list-style: none;
    background-color: ;
}

.navbar nav li a{
    text-decoration: none;
    color: #797979;
    font-weight: 200;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navbar nav li a img{
    height: 1.5rem; /* 0.02*/
    width: 1.5rem;
    margin: 0 1rem;
    transition: 0.4s;
}

.navbar nav li a img:hover{
    opacity: 1;
}


.menuOpen a img{
    opacity: 0.3;
    height: 1.5rem; 
    width: 1.5rem;
    transition: 1s;
}

.menuOpen{
    border-right: 1px solid #e7e7e7;
}

.menuUserAvatar a img{
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.3;
}

.menuUserAvatar{
    border-left: 1px solid #e7e7e7;
}

.navLogo a{
    font-family: 'Poppins',sans-serif;
}

.navLogo a span{
    font-weight: 500;
    color: #585858;
}

/* navbar ends */


/* sideMenu starts */

.sideMenu{
    height: 100vh;
    width: 70%;
    background-color: ;
    position: fixed;
    z-index: 10;
    border-right: 1px solid #e9e9e9;
    background-color: #fff;
    margin-left: -70%;
    transition: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenu ul{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
}

.sideMenu ul li{
    list-style: none;
    background-color: ;
}

.sideMenu ul li a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #333333;
    transition: 0.4s;
    opacity: 0.3;
    font-weight: 300;
}

.sideMenu ul li a:hover{
    opacity: 1;
    color: #4ec7a9;
}

.sideMenu ul li a img{
    height: 2rem;
    width: 2rem;
}

.sideMenu ul li a span{
    padding: 0 1.5rem;
}



/* sideMenu ends */

/* heroSection starts */

.heroSection{
    overflow: hidden;
    height: 768px; /* 100*/
    width: 100%;
    /* background: linear-gradient(to bottom right, #DF7784, #925D8C, #5D4C90); */
    /* background: linear-gradient(135deg, #CCE8F4,#9b53b6); */
    /* background: linear-gradient(135deg, #3BA19D, #4cb47b); */
    background: url('assets/andBack.svg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainHeroSectionContainer{
    height: 90%;
    width: 50%;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroSectionTitle{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    color: #333333;
    font-weight: 600;
}



.mainSearchContainer{
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: 0.3rem;
    margin: 1.5rem 0 0 0;
    /* box-shadow: 1rem 1rem 15px #00000013; */
    box-shadow: none;
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.4s;
}

.mainSearchContainer input{
    width: 90%;
    font-size: 1rem;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    padding: 2rem 1rem;
}

.mainSearchContainer button{
    border: none;
    background: none;
    cursor: pointer;
    
}

.mainSearchContainer button img{
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.4;
    transition: 0.3s;
}

.mainSearchContainer button img:hover {
    opacity: 1;
}

.searchSupport{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    text-align: left;
    font-size: 1rem;
    padding: 2rem 0rem;
    font-weight: 300;
    display: none;
}


.learnMoreContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.learnMoreContainer p{
    font-family: 'Poppins', sans-serif;
    color: #333333;
    font-size: 1.2rem;
    padding: 1.5rem 0;
    font-weight: 400;
}

.learnMoreContainer button{
    border: none;
    background: none;
    border: 1px solid #3838382c;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(10, 10, 10, 0.315);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.learnMoreContainer button:hover{
    background-color: rgba(0, 0, 0, 0.61);
}

.learnMoreContainer button img{
    height: 2rem;
    width: 2rem;
}




/* heroSection ends */

/* expanded class starts */

.expandedClass{
    width: 80%;
    position: fixed;
    top: 4rem;
    z-index: 20;
    transition: 0.4s;
}

.overlay{
    z-index: 19;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    animation-name: overlayVisible;
    animation-duration: 0.4s;
    display: none; /* changed */
}

@keyframes overlayVisible{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.suggestionList{
    height: auto;
    width: 78%;
    background-color: ;
    margin: 0 auto;
    position: relative;
    top: 10rem;
}

.suggestionTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: 4rem 2rem 0rem 2rem;
    color: #333333;
    font-weight: 400;
}

.suggestionList ul li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    font-size: 1rem;
    padding: 1rem;
    background-color: ;
    font-weight: 300;
    border-bottom: 1px solid rgba(221, 221, 221, 0.514);
    width: 80%;
}

.suggestionList ul li:nth-child(1){
    padding-top: 2rem;
}

.suggestionList ul li:last-child{
    border-bottom: none;
}

.closeMainSearchContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4rem;
}

.closeMainSearchContainer img{
    height: 2rem;
    width: 2rem;
    opacity: 0.2;
    transition: 0.3s;
}

.closeMainSearchContainer img:hover{
    opacity: 1;
}


/* expanded class ends */



@media (max-width: 1280px){

    .navbar{
        background-color: #fff;
    }

    .menuOpen{
        border: none;
    }

    .menuUserAvatar{
        border: none;
    }

    .menuUserAvatar a img{
        height: 2rem;
        width: 2rem;
        opacity: 0.3;
    }

    .sideMenu ul{
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: left;
        flex-direction: column;
    }
    

    .sideMenu ul li a{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        color: #333333;
        transition: 0.4s;
        font-weight: 300;
        opacity: 0.3;
    }

    .sideMenu ul li a img{
        height: 1rem;
        width: 1rem;
    }

    /* .heroSection{
        overflow: hidden;
        height: 667px; /* 100*/
        /* width: 100%; */
        /* background: linear-gradient(to bottom right, #DF7784, #925D8C, #5D4C90); */
        /* background: linear-gradient(135deg, #CCE8F4,#9b53b6); */
        /* background: linear-gradient(135deg, #3BA19D, #4cb47b); */
        /* background: url('assets/andBack.svg');
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; */
    /*} */

    .heroSection{
        overflow: hidden;
        height: 667px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .mainHeroSectionContainer{
        height: 60%;
        width: 85%;
        background-color: ;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: ;
    }


    .heroSectionTitle{
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        color: #333;
        font-weight: 600;
        /* padding: 3rem; */
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
    }

    .mainSearchContainer{
        height: auto;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0.3rem;
        margin: 1rem 0 0.5rem 0;
        /* box-shadow: 1rem 1rem 15px #00000017; */
        box-shadow: none;
        border: 1px solid #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    
    .mainSearchContainer input{
        width: 80%;
        font-size: 1rem;
        color: #333333;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 0rem;
        background: none;
    }

    

    .mainSearchContainer input:focus{
        outline: none;
    }
    
    .mainSearchContainer button{
        border: none;
        background: none;
        cursor: pointer;
        
    }
    
    .mainSearchContainer button img{
        height: 1rem;
        width: 1rem;
        opacity: 0.4;
        transition: 0.3s;
    }
    
    .mainSearchContainer button img:hover {
        opacity: 1;
    }
    
    .searchSupport{
        width: 100%;
        font-family: 'Roboto', sans-serif;
        color: #333333;
        text-align: left;
        font-size: 0.75rem;
        padding: 0.75rem 0rem;
        font-weight: 300;
        display: none;
    }



    .learnMoreContainer p{
        font-family: 'Poppins', sans-serif;
        color: #333333;
        font-size: 1.1rem;
        padding: 1rem 0;
        font-weight: 500;
    }

    .learnMoreContainer button{
        border: none;
        background: none;
        border: 1px solid #3838382c;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: rgba(10, 10, 10, 0.315);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    .learnMoreContainer button:hover{
        background-color: rgba(0, 0, 0, 0.61);
    }

    .learnMoreContainer button img{
        height: 1.5rem;
        width: 1.5rem;
    }

    .expandedClass{
        width: 90%;
        position: fixed;
        top: 1rem;
        z-index: 20;
    }

    .suggestionList{
        height: auto;
        width: 90%;
        background-color: ;
        margin: 0 auto;
        position: relative;
        top: 5rem;
    }

    .suggestionTitle{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        padding: 3rem 1rem 0 1.5rem;
        color: #333333;
        font-weight: 400;
    }

    .closeMainSearchContainer{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 8rem;
    }
    

    
}

