@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    color: #292929;
    background-color: #ffeab4;
}


body{
    height: auto;
    background: url('assets/bigBack.png') ;
}



/* topUserContainer starts */

.topUserContainer{
    height: 10rem;
    background-color: ;
}

/* innerTopContainer starts */

.innerTopContainer{
    height: 100%;
    width: 90%;
    background-color: ;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

.userGreetingContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.userGreeting{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #333333;
}

.userSubGreet{
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    color: #929292;
    font-weight: 400;
    padding-top: 0.25rem;
}

.userControlsContainer{
    height: 100%;
    width: 100%;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.userControlsContainer img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid #eeeeee;
    margin-right: 0.5rem;
}

.userControlButtons{
    display: flex;
}

.userControlButtons li{
    list-style: none;
    padding: 1rem 0.5rem;
}

.userControlButtons li:last-child{
    padding-right: 0;
}

.userControlButtons li a{
    text-decoration: none;
    color: #707070;
    font-family: 'Poppins',sans-serif;
    font-size: 0.75rem;
}

.userControlButtons li:last-child a{
    background: #ffffff;
    padding: 0.5rem 1.5rem;
    color: #008f7e;
    border-radius: 1.5rem;
    font-weight: 500;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 5px 10px #00000009;
    transition: 0.3s;
}

.userControlButtons li:last-child a:hover{
    color: #fff;
    background-color: #00796B;
    border: 1px solid #00796b00;
    box-shadow: 0px 5px 10px #00000012;
}



/* innerTopContainer ends */

/* topUserContainer ends */



.mainContainer{
    height: auto;
    min-height: 667px;
    background-color: #fff;
    border-radius: 1.5rem 1.5rem 0 0;
    border: 1px solid #eeeeee;
    border-bottom: none;
    box-shadow: 0 -7px 15px #00000008;
}


/* mainContainer ends */
















/* footer starts*/
.pageFooter{
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 1.5rem;
}

.pageFooter a{
    text-decoration: none;
    color: #a8a8a8;
    transition: 0.3s;
    font-weight: 300;
}

.pageFooter span{
    font-weight: 500;
    transition: 0.3s;
}


.pageFooter a:hover{
    color: #363636;
}

/* footer ends */



@media (max-width: 1280px){


    .topUserContainer{
        height: 10rem;
        background-color: ;
    }

    .innerTopContainer{
        display: flex;
        flex-direction: column;
    }

    .userGreeting{
        font-family: 'Poppins', sans-serif;
        padding-top: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #333333;
        padding-left: 1rem;
    }

    .userSubGreet{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.75rem;
        color: #bebebe;
        font-weight: 400;
        padding-top: 0.25rem;
        width: 75%;
        padding-left: 1rem;
    }

    .userControlsContainer img{
       display: none;
    }

    .userControlsContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .userControlButtons li{
        list-style: none;
        padding-top: 1rem;
        margin: 0 1rem;
    }

    .userControlButtons li:first-child{
        margin-left: 0;
    }

    .userControlButtons li:last-child{
        margin-left: 3rem;
    }

    .userControlButtons li:first-child a{
        background: #ffffff;
        padding: 0.5rem 1.5rem;
        color: #008f7e;
        border-radius: 1.5rem;
        font-weight: 500;
        border: 1px solid #f1f1f1;
        box-shadow: 0px 5px 10px #00000009;
        transition: 0.3s;
    }
    
    .userControlButtons li:first-child a:hover{
        color: #fff;
        background-color: #00796B;
        border: 1px solid #00796b00;
        box-shadow: 0px 5px 10px #00000012;
    }

    .userControlButtons li:last-child a{
        background: #ffffff;
        padding: 0.5rem 1.75rem;
        color: #008f7e;
        border-radius: 1.5rem;
        font-weight: 500;
        border: 1px solid #f1f1f1;
        box-shadow: 0px 5px 10px #00000009;
        transition: 0.3s;
    }

}
